/EmployeeManagement/.vs/EmployeeManagement/DesignTimeBuild/*.dtbcache
/EmployeeManagement/.vs/EmployeeManagement/v16/*.suo
/EmployeeManagement/.vs/EmployeeManagement/v16/Server/sqlite3/*.lock
/EmployeeManagement/.vs/EmployeeManagement/v16/Server/sqlite3/*.ide
